:root {
    /* colori */
    --white: #fff;
    --grey: #6f6f6f;
    --green: #adff2d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #141922;
    color: var(--grey);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    

    height: calc(100vh - 80px);
    width: 200px;

    padding: 0 20px 0 10px;

    background-color: #000;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav img.logo-big {
    width: 150px;

    padding: .8rem 10px .8rem 0;
}

nav img.logo-small {
    display: none;
}

nav ul.principal {
    padding-top: 10px;
}

nav ul.principal li {
    display: flex;
    align-items: center;
}

nav ul li img {
    width: 25px;
}

nav ul li img.nav-img,
.nav-bottom .profile img {
    opacity: .6;
}

a {
    text-decoration: none;
    color: var(--grey);
}

nav  a{
    display: inline-block;
    color: var(--grey);
    font-weight: 600;
    font-size: .8rem;
}
ul li {
    list-style: none;
}

nav ul li a.nav-txt{
    padding-left: .3rem;
}

nav ul li a.txt-white {
    color: var(--white);
    font-weight: 600;
}

nav .add-playlist {
    padding-top: 1rem;
}

nav h3 {
    font-size: .9rem;
    color: var(--white);
}

i {
    color: var(--white);
    opacity: .6;
}

nav .add-playlist i {
    font-size: 2.4rem;
    vertical-align: middle;
    padding: .5rem .3rem 0 0;
}





/* PROBLEMA OVERFLOW */
.over {
    height: 220px;
    overflow-y: auto;
}

/* PROBLEMA OVERFLOW */
.row-playlist {
    line-height: 30px;
}
/* PROVA  */






nav ul.playlist li {
    line-height: 30px;
}

nav ul.playlist li a,
nav .nav-bottom li a {
    font-size: .8rem;
}

nav ul.profile {
    padding-bottom: .5rem;
}

nav ul.profile li {
    display: flex;
    align-items: center;
}

nav ul.profile hr {
    margin: .8rem 0;
    border: 1px solid var(--grey);
}

nav ul.profile li img {
    width: 1rem;
    margin-right: .6rem;
}

nav ul.profile li img.profile-img {
    width: 30px;
    height: 30px;
    background-color: var(--grey);
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;

}

.bunner{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;

    width: calc(100vw - 200px);
    height: 80px;


    background-color: rgba(0, 0, 0, 0.5);
}

.bunner .upgrade {
    width: 200px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-size: .7rem;
    font-weight: 500;
    margin-right: 2rem;
    border: 1px solid var(--white);
    border-radius: 1rem;
    cursor: pointer;
}

.bunner .upgrade:hover {
    transform: scale(1.25);
}
.bunner a {
    color: var(--white);
}



main {
    margin-left: 200px;
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    padding: 90px 0 0 .8rem;
    overflow-y: auto;
}

main ul.nav-album {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main ul.nav-album li {
    text-align: center;
    flex: 0 0 135px;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

main ul.nav-album li hr {
    width: 20%;
    margin: 0 auto;
    border: 1px solid var(--green);
}

main ul.nav-album li hr.select {
    width: 20%;
    margin: 0 auto;
    border: 1px solid #141922;
}

main ul.nav-album li:hover hr.select {
    border: 1px solid var(--green);
}

main h1 {
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 2rem;
}

main h1:nth-of-type(1) {
    padding-top: 0rem;
}

main .row-album {
    display: flex;
    flex-wrap: wrap;
}

main .album-full {
    justify-content: space-between;
}

main .row-album .box-album {
    padding: 1.5rem .9rem .8rem 0;
    flex: 0 1 calc(100% / 6);
    max-width: 220px;
    text-align: center;
}

main .row-album .box-album img {
    width: 100%;
}

main .row-album .box-album img.tondo {
    border-radius: 50%;
}

main .row-album .box-album h3 {
    color: var(--white);
    font-size: 1rem;
    padding-top: .6rem;
}

main  span {
    color: var(--grey);
    font-size: .8rem;
    font-weight: 600;
}

main  span.under-title {
    display: inline-block;
    padding-top: .5rem;
}






@media screen and (min-width:701px) and (max-width:1100px) {
    main .row-album .box-album {
    flex: 0 1 calc(100% / 4);
    }

    main .row-album .box-album h3 {
        font-size: .9rem;
    }

    main .album-full {
        justify-content: flex-start;
    }

}


@media screen and (min-width:601px) and (max-width:700px) {
    main .row-album .box-album {
    flex: 0 1 calc(100% / 2);
    max-width: 235px;
    }

    main .row-album .box-album h3 {
        font-size: .9rem;
    }

    main .album-full {
        justify-content: center;
    }

}





@media screen and (max-width:600px) {

    header {
        width: 45px;
        padding: 0 ;
        }

    nav {
        padding: 0 7px;
    }

    nav img.logo-big,
    nav ul li a.nav-txt,
    nav .add-playlist,
    nav .over,
    nav .profile a.txt, 
    nav .profile a.txt-white,
    nav .profile hr {
        display: none;
    } 
    
    nav img.logo-small {
        display: inline-block;
        width: 30px;
        padding-top: 10px;
    }
    
    nav ul.principal {
        padding-top: 0;
    }

    nav ul li {
        padding: .3rem 0;
    }

    .download {
        margin-left: 6px;
    }

    .bunner{
        width: calc(100vw - 45px);
    }
    
    main {
        margin-left: 45px;
        width: calc(100vw - 45px);
        height: calc(100vh - 80px);
        padding-top: 90px;
    }

    main .row-album .box-album {
        flex: 0 1 calc(100% / 2);
        max-width: 260px;
    }

    main .row-album .box-album h3 {
        font-size: .9rem;
    }
    
    main .album-full {
        justify-content: center;
    }

}



@media screen and (max-width:410px) {
    
    main .row-album .box-album {
        flex: 0 1 100%;
        max-width: 235px;
    }

    main .row-album .box-album h3 {
        font-size: .9rem;
    }

    main .album-full {
        justify-content: center;
    }

}


footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 80px;

    background-color: #282828;
}