* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #141922;
    color: #6f6f6f;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    

    height: calc(100vh - 80px);
    width: 200px;

    padding: 0 20px 0 10px;

    background-color: #000;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav img.logo-big {
    width: 150px;

    padding: .8rem 10px .8rem 0;
}

nav img.logo-small {
    display: none;
}

nav ul.principal {
    padding-top: 25px;
}

nav ul.principal li {
    display: flex;
    align-items: center;
}

nav ul li img {
    width: 30px;
}

nav ul li img.nav-img,
.nav-bottom .profile img {
    opacity: .6;
}

nav  a{
    display: inline-block;
    color: #6f6f6f;
    font-weight: 500;
    text-decoration: none;
}

nav ul li a.nav-txt{
    padding-left: .3rem;
}

nav ul li a.txt-white {
    color: #fff;
    font-weight: 600;
}

nav .add-playlist {
    padding-top: 1rem;
}

nav h3 {
    font-size: .9rem;
    color: #fff;
    padding-bottom: .4rem;
}

i {
    color: #fff;
    opacity: .6;
}

nav .add-playlist i {
    font-size: 2.4rem;
    vertical-align: middle;
    padding: .5rem .3rem .5rem 0;
}




nav .nav-top .over {
    height: 100%;
    overflow-y: auto;
}

nav ul.playlist li {
    line-height: 30px;
}

nav ul.playlist li a,
nav .nav-bottom li a {
    font-size: .9rem;
}

nav ul.profile {
    padding-bottom: .5rem;
}

nav ul.profile li {
    display: flex;
    align-items: center;
}

nav ul.profile hr {
    margin: .8rem 0;
    border: 1px solid #6f6f6f;
}

nav ul.profile li img {
    width: 1rem;
    margin-right: .6rem;
}

nav ul.profile li img.profile-img {
    width: 30px;
    height: 30px;
    background-color: #6f6f6f;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;

}

.bunner{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;

    width: calc(100vw - 200px);
    height: 100px;


    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:600px) {

    header {
        width: 45px;
        padding: 0 ;
        }

    nav {
        padding: 0 7px;
    }

    nav img.logo-big,
    nav ul li a.nav-txt,
    nav .add-playlist,
    nav .over,
    nav .profile a.txt, 
    nav .profile a.txt-white,
    nav .profile hr {
        display: none;
    } 
    
    nav img.logo-small {
        display: inline-block;
        width: 30px;
        padding: 10px 0 .8rem 0;
    }
    
    nav ul {
        padding-top: 0;
    }

    nav ul li {
        padding: .3rem 0;
    }

    .download {
        margin-left: 6px;
    }

    .bunner{
        width: calc(100vw - 45px);
    }
    
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 80px;

    background-color: #282828;
}