:root {
    /* colori */
    --white: #fff;
    --grey: #6f6f6f;
    --green: #adff2d;
    /* larghezze */
    --w-header: 200px;
    --w-header-small: 45px;
    --h-bunner: 80px;
    --h-footer: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: var(--grey);
    height: 100vh;
}

/* LAYOUT *//* LAYOUT *//* LAYOUT *//* LAYOUT *//* LAYOUT */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - var(--h-footer));
    width: var(--w-header);
    padding-right: 20px;
    background-color: #000;
}

.bunner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - var(--w-header));
    height: var(--h-bunner);
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    margin-left: var(--w-header);
    width: calc(100vw - var(--w-header));
    height: calc(100vh - var(--h-footer));
    padding-top: calc(var(--h-bunner) + 10px);
    overflow-y: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: var(--h-footer);
    background-color: #282828;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}


@media screen and (max-width:575px) {
    header {
        width: var(--w-header-small);
        padding: 0 ;
    }        

    .bunner{
        width: calc(100vw - var(--w-header-small));
    }
    
    main {
        margin-left: var(--w-header-small);
        width: calc(100vw - var(--w-header-small));
    }
}
/* FINE LAYOUT *//* FINE LAYOUT *//* FINE LAYOUT *//* FINE LAYOUT */

/* MENU LATERALE *//* MENU LATERALE *//* MENU LATERALE *//* MENU LATERALE */
nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav img.logo-big {
    width: 150px;
    padding: .8rem 10px .8rem 20px;
}

nav img.logo-small {
    display: none;
}

nav ul.principal {
    padding-top: 10px;
}

nav ul.principal li {
    display: flex;
    align-items: center;
    padding-left: 17px;
    border-left: 3px solid black;
    margin-bottom: 5px;
    transition: border .4s;
}

nav ul.principal .line-select {
    border-left: 3px solid var(--green);
}

nav ul li img {
    width: 25px;
    vertical-align: middle;
}

nav ul li img.nav-img,
.nav-bottom .profile img {
    opacity: .6;
    transition: opacity .3s;
}

span {
    text-decoration: none;
    color: var(--grey);
    transition: color .3s;
}

nav  span{
    /* display: inline-block; */
    font-weight: 600;
    font-size: .8rem;
}

ul li {
    list-style: none;
}

nav ul li span.nav-txt{
    padding-left: .3rem;
}

ul li span.txt-white {
    color: var(--white);
    font-weight: 500;
}

nav .add-playlist {
    padding: 1rem 0 .5rem 20px;
}

nav .add-playlist span{
    font-weight: 700;
}

nav h3 {
    font-size: .9rem;
    color: var(--white);
    font-weight: 600;
}

nav i {
    color: var(--white);
    opacity: .6;
    transition: all .3s;
}

nav .add-playlist button {
    margin-top: .5rem;
}

nav .add-playlist i {
    font-size: 2.4rem;
    padding-right: .3rem;
    vertical-align: middle;
}

ul.playlist {
    overflow-y: auto;
}

ul.playlist li {
    line-height: 30px;
    padding-left: 20px;
}

nav ul.playlist li span,
nav .nav-bottom li span {
    font-size: .8rem;
}

nav .nav-bottom {
    margin-top: auto;
}

nav ul.profile {
    padding-bottom: .5rem;
    padding-left: 20px;
    padding-top: .5rem;
}

nav ul.profile li {
    display: flex;
    align-items: center;
}

nav ul.profile li:first-child {
    margin-bottom: .8rem;
}

nav ul.profile li:last-child {
    border-top: 1px solid var(--grey);
    padding-top: .8rem;
}

nav ul.profile li img {
    width: 1rem;
    margin-right: .6rem;
}

nav ul.profile li img.profile-img {
    width: 30px;
    height: 30px;
    background-color: var(--grey);
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
}

/* FINE MENU LATERALE *//* FINE MENU LATERALE *//* FINE MENU LATERALE */

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.bunner button.upgrade {
    width: 200px;
    line-height: 28px;
    text-align: center;
    font-size: .7rem;
    font-weight: 500;
    margin-right: 2rem;
    border: 1px solid var(--white);
    border-radius: 1rem;
    cursor: pointer;
}

.bunner span {
    color: var(--white);
}

main ul.nav-album {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main ul.nav-album li {
    text-align: center;
    flex: 0 0 135px;
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

main ul.nav-album li hr {
    width: 20%;
    margin: 0 auto;
    border: 1px solid var(--green);
}

main ul.nav-album li hr.select {
    width: 0;
    margin: 0 auto;
    border: 1px solid #141922;
    transition: all .4s;
}

main h2 {
    color: var(--white);
    font-size: 1.7rem;
    padding: 2rem 0 .3rem .8rem;
}

main h2:nth-of-type(1) {
    padding-top: 0rem;
}

main .row-album {
    display: flex;
    flex-wrap: wrap;
}

main .album-full {
    justify-content: space-between;
}

main .row-album .box-album {
    padding: 1.5rem .9rem .8rem 0;
    flex: 0 1 calc(100% / 6);
    max-width: 220px;
    text-align: center;
}
main .album-empty {
    padding-left: .8rem;
}

main .row-album .box-album img {
    width: 100%;
}

figure {
    position: relative;
}

.hov-play {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
}

figure .hov-play .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 4rem;
}

.tondo {
    border-radius: 50%;
}

main .row-album .box-album h3 {
    color: var(--white);
    font-size: .9rem;
    padding-top: .6rem;
}

main  span.under-title {
    padding-left: .8rem;
}

main .box-album span,
main  span.under-title {
    color: var(--grey);
    font-size: .7rem;
    font-weight: 600;
}

/* FINE MAIN *//* FINE MAIN *//* FINE MAIN *//* FINE MAIN *//* FINE MAIN */

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
/* FOOTER LEFT  *//* FOOTER LEFT  */
footer .footer-left {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}

footer h5 {
    color: var(--white);
    font-size: .7rem;
}

footer h6 {
    font-size: .6rem;
    cursor: pointer;
}
footer h6:hover {
    color: var(--white);
    text-decoration: underline;
}

footer i {
    cursor: pointer;
}

.fa-heart:hover,
.fa-folder:hover {
    color: var(--white);
}

footer .footer-left .album-played {
    width: 40px;
    margin: 0 10px;
    flex: 0 1 40px;
}

footer .title-played {
    flex: 0 1 63px;
}

footer img {
    width: 100%;
}

footer .footer-left .action-played i {
    margin-right: 10px;
}

footer .footer-left .action-played {
    flex: 0 1 auto;
    display: flex;
    padding-left: 15px;
    justify-content: flex-end;
    font-size: 1rem;
}
/* FOOTER CENTRAL  *//* FOOTER CENTRAL  */
footer .footer-central {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: var(--white);
}

footer .footer-central .icon-stream {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    margin-bottom: .8rem;
}

footer .footer-central .icon-stream i {
    opacity: .6;
    flex: 0 0 35px;
}

footer .footer-central .icon-stream .fa-play-circle {
    font-size: 1.5rem;
}

footer .footer-central .line-stream {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-central .line-stream .time {
    font-size: .7rem;
    font-weight: 600;
}

footer .footer-central .line-stream .time:nth-child(1) {
    padding-right: .5rem;
}

footer .footer-central .line-stream .time:nth-child(3) {
    padding-left: .5rem;
}

.line-stream .line {
    position: relative;
    height: 2px;
    min-width: 100px;
    max-width: 500px;
    flex: 0 1 100%;
}

.line-stream .line-progress {
    border: 2px solid var(--grey);
    border-radius: 1rem;
    cursor: pointer;
}

.line-stream .line-progress-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    border: 2px solid rgba(255 , 255, 255, .9);
    border-radius: 1rem;
    cursor: pointer;
}
/* FOOTER RIGHT  *//* FOOTER RIGHT  */
footer .footer-right {
    display: flex;
    flex: 0 1 25%;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
    font-size: .8rem;
    padding-right: .5rem;
}

footer .footer-right i {
    padding-right: .7rem;
    opacity: .6;
}

footer .footer-right .audio {
    position: relative;
    height: 2px;
    flex: 0 1 100px;
    min-width: 100px;
    max-width: 500px;
}
 .over-audio-act {
     display: flex;
     align-items: center;
 }
.audio .line-progress {
    width: 100%;
    border: 2px solid var(--grey);
    border-radius: 1rem;
    cursor: pointer;
}

.audio .line-progress-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    border: 2px solid rgba(255 , 255, 255, .9);
    border-radius: 1rem;
    cursor: pointer;
}
/* FINE FOOTER *//* FINE FOOTER *//* FINE FOOTER *//* FINE FOOTER */

/* EFFETTI HOVER  *//* EFFETTI HOVER  *//* EFFETTI HOVER  */
span:hover {
    color: var(--white);
}

ul li:hover {
    cursor: pointer;
}

nav ul.principal li:hover {
    border-left: 3px solid var(--green);
}

nav ul li:hover span,
nav .add-playlist button:hover span{
    color: var(--white);
}

nav ul.principal li:hover img,
nav .add-playlist button:hover i {
    opacity: 1;
}

.nav-bottom ul.profile li:hover .download,
footer .footer-central .icon-stream i:hover,
footer .footer-right i:hover {
    opacity: 1;
}

.nav-bottom ul.profile li:hover span {
    color: var(--white);
}

.bunner .upgrade:hover {
    transform: scale(1.25);
}

main ul.nav-album li:hover hr.select {
    width: 20%;
    border: 1px solid var(--green);
}

main ul.nav-album li:hover span {
    color: var(--white);
}

.box-album figure:hover .hov-play {
    display: inline-block;
}

footer .footer-central .icon-stream .fa-play-circle:hover {
    transform: scale(1.3);
}

.line-stream .line-progress:hover .line-progress-white,
.audio .line-progress:hover .line-progress-white,
.over-audio-act:hover .line-progress-white {
    border: 2px solid var(--green);
} 

.line-stream .line-progress:hover .circle-progress-selected {
    position: absolute;
    top: -6px;
    right: -5px;
    width: .8rem;
    height: .8rem;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
} 

.audio .line-progress:hover .circle-progress-selected,
.over-audio-act:hover .circle-progress-selected  {
    position: absolute;
    top: -6px;
    right: -10px;
    width: .8rem;
    height: .8rem;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
} 

/* FINE EFFETTI HOVER  *//* FINE EFFETTI HOVER  *//* FINE EFFETTI HOVER  */

/* EFFETTO HOVER SPOTIFY ATTUALE */
main .row-album .box-album-new {
    flex: 0 1 calc(100% / 6 - 1.8rem);
    padding: 1.5rem .9rem .8rem .9rem;
    margin: .8rem;
    border-radius: 4%;
    background-color: #1b222e;
    cursor: pointer;
}

main .row-album .box-album-new:hover {
    background-color: #2f3b51;
}

.box-album-new img {
    box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    border-radius: 2%;
}

.cont-play-green {
    position: relative;
}

main .row-album .box-album-new .play-green {
    position: absolute;
    right: 10%;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    width: 24%;
    height: 24%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0;
    transition: all .5s;
}

main .row-album .box-album-new:hover .play-green {
    bottom: 10%;
    color: var(--white);
    background-color: #1db954;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .6);
}

@media screen and (min-width:768px) and (max-width:992px) {
    main .row-album {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    main .row-album .box-album {
    flex: 0 1 calc(100% / 4);
    }

    main .row-album .box-album-new {
        flex: 0 1 calc(100% / 4 - 1.8rem);
        min-width: 160px;
    }
    
    main .album-full {
        justify-content: flex-start;
    }
    
    footer .title-played {
        flex: 0 0 63px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    main .row-album .box-album {
    flex: 0 1 calc(100% / 2);
    }        

    main .row-album .box-album-new {
        flex: 0 1 calc(100% / 2 - 1.8rem);
        min-width: 160px;
    }
    
    main .row-album {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    
    footer .title-played {
        flex: 0 0 60px;
    }

    footer .footer-left .action-played {
        flex-direction: column;
        padding-left: 0px;
    }
    
    footer .footer-left .action-played i {
        margin-bottom: 5px;
    }
}


@media screen and (max-width:575px) {
    .desktop {
        display: none;
    } 
    
    nav img.logo-small {
        display: inline-block;
        width: 45px;
        padding: 10px 10px 0;
    }
    
    nav ul.principal {
        padding-top: 0;
    }

    nav ul.principal li {
        padding-left: 5px;
        margin: .3rem 0;
    }

    nav ul.profile {
        padding-bottom: .5rem;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul.profile li img.profile-img {
        width: 25px;
        height: 25px;
        margin-top: .3rem;
    }

    nav ul.profile li:last-child {
        border: 0;
        padding-top: 0;
    }
    
    nav ul.profile li img {

        margin-right: 0;
    }

    main ul.nav-album {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
    }
    
    main .row-album {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    main .row-album .box-album {
        flex: 0 1 calc(100% / 2);
    }        

    main .row-album .box-album-new {
        flex: 0 1 calc(100% / 2 - 1.8rem);
        min-width: 160px;
    }
    
    main .album-empty {
        justify-content: flex-start;
    }
    
    footer .title-played {
        flex: 0 1 55px;
    }

    footer .footer-left .action-played {
        flex-direction: column;
        padding-left: 0px;
    }
    
    footer .footer-left .action-played i {
        margin-bottom: 5px;
    }
}

@media screen and (max-width:410px) {
    main .row-album {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    main .row-album .box-album {
        flex: 0 1 100%;
        min-width: 200px;
        text-align: start;
    }        
    main .row-album .box-album-new {
        flex: 0 1 calc(100% - 1.8rem);
        min-width: 200px;
    }

    main .row-album:last-child {
        padding-bottom: 4.5rem;
    }

    main h2,
    main span.under title {
        text-align: center;
    }

    footer .title-played {
        flex: 0 1 55px;
    }

    footer .footer-left .action-played {
        flex-direction: column;
        padding-left: 0px;
    }

    footer .footer-left .action-played i {
        margin-right: 0;
    }
    
    footer .footer-left .action-played i {
        margin-bottom: 5px;
    }
}